# Dipendenze e Git
node_modules
.git
.gitignore

# Env file (non includere mai secrets nell'immagine)
.env
.env.local

# File di sistema
.DS_Store
Thumbs.db

# File temporanei applicazione
backend/app/public/cached/*
backend/app/data/*


# Documentazione e backup non necessari in prod
docs/
*.backup
*.log
